<a href="animal/:{{id}}" class="four columns animalLink">
    <div class="blue animal">
        
        <img src="./assets/animals/lambchop.png" class="u-pull-left">
        <ul>
            <li>
                <strong>Name:</strong> {{name}}
            </li>
            <li>
                <strong>Type:</strong> {{type}}
            </li>
        </ul>
    </div>
</a>