<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <title>OnlyFarms</title>
</head>
<body>

  <header>

        <div id="headerContainer">
            <a href="/" id="siteHomeLink"><img src="./assets/onlyfarms-logo.svg" id="sitelogo"></a>
            <nav>
                <a href="/login">Sign up</a>
                <!-- {{#if loggedIn}} -->
                <!-- <button id="logout">Logout</button> -->
                <!-- {{else}} -->
                <a href="/login">Login</a>
                <!-- {{/if}} -->
            </nav>
        </div>

  </header>

  <main>
    {{{body}}}
  </main>
  <!-- {{#if loggedIn}} -->
  <!-- <script src="/js/logout.js"></script> -->
  <!-- {{/if}} -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./js/chart.js"></script>
</body>

</html>