<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="stylesheet" href="./css/footerstyle.css">
    <title>OnlyFarms</title>
</head>
<body>

  <header>

        <div id="headerContainer">
            <a href="/" id="siteHomeLink"><img src="./assets/onlyfarms-logo.svg" id="sitelogo"></a>
            <nav>
               
                {{#if loggedIn}}
                <a id="logout">Logout</a>
                {{else}}
                 <a href="/login">Sign up</a>
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </div>

  </header>
<main>
    {{{body}}}
</main>
 
  <footer class="section green">
    <div class="container footer">
        <div class="row">
            <div class="seven columns">
                <div class="row">
                    {{#if loggedIn}}
                    <script src="/js/logout.js"></script>
                    {{/if}}
                    <a href="#" class="btn">Sign Up Today!</a>
                </div>
                <div class="row wrap">
                    <div><a href="#">Policies</a></div>
                    <div><a href="#">GitHub Repo</a></div>
                    <div><a href="#">License</a></div>
                    <div><a href="#">Framework</a></div>
                </div>
            </div>
        

            <div class="five columns">
                <div class="row">
                    <img src="./assets/onlyfarms-logo-green.svg" alt="">
                </div>
                <div class="row wrap">
                    <div><a href="#">Luke</a></div>
                    <div><a href="#">Matt</a></div>
                    <div><a href="#">Greg</a></div>
                    <div><a href="#">Sufi</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>