<section class="animals">
    <h1 class="animal-name">{{animal.type}}</h1>
    <img class="animal-image" src="">
        <div class="food-options">
            <div class="organic-food">
                <h2>Organic Food-</h2>
                <div class="organic-price">
                    {{animal.food_organic}}
                </div>
            </div>
            <div class="manufactured-food">
                <h2>Manufactured Food-</h2>
                <div class="manufactured-price">
                    {{animal.food_manufactured}}
                </div>
            </div>
        </div>

</section>