<section class="animals">
    <h1 class="animal-name">{{animal.name}}</h1>
        <div class="food-options">
            <div class="organic-food">
                <h2>Organic Food-</h2>
                <div class="organic-price">
                    {{organic.price}}
                </div>
            </div>
            <div class="manufactured-food">
                <h2>Manufactured Food-</h2>
                <div class="manufactured-price">
                    {{manufactured.price}}
                </div>
            </div>
        </div>

</section>