<div class="container">
        <aside class="three columns">
            <button class="button" id="addFarmBtn">Add New Farm</button>
            <ul>
                <li>
                    <a href="#">Farm 1</a>
                </li>
            </ul>
        </aside>
{{!-- -------------- graph------------ --}}
         <div class="nine columns" id="chartContainer">
            <canvas id="notAnimal" aria-label="Budget Pie Chart for each animal" role="img"></canvas>
        </div>
{{!-- animal cards --}}
         <h2 class="nine columns">Animals</h2>
        <a href="#" class="three columns animalLink">
            <div class="blue animal">
                <img src="./assets/animals/lambchop.png" class="u-pull-left">
                <ul>
                    <li>
                        <strong>Name:</strong> Lambchop
                    </li>
                    <li>
                        <strong>Type:</strong> Sheep
                    </li>
                </ul>
            </div>
        </a>
</div>