<section class="login-page">
    <div class="login-area">
        <h2>Login:</h2>
        <form id="form" class="login-form">
            <h3>Email:</h3>
            <input id="user-input" class="email-input" type="text" placeholder="Email Address" required="true">
            <h3>Password:</h3>
            <input id="user-input" class="password-input" type="text" placeholder="Password" required="true">
            <button class="login-btn">Log-In</button>
        </form>
    </div>
</section>