/* .footer{
    background-color: #E2ECB9;;
} */
.columns{
    padding: 1em;
}
.btn{
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin: auto;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}
.footer a{
    color: black;
    text-decoration: none;
   
}