:root {
  --header: #517F0A;
}

body {
  background-color: darkgrey;
}

header {
  text-align: center;
  color: white;
  background-color: var(--header);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70px;
}

#sitelogo {
  display:inline-block;
}

#siteHomeLink {
  min-width:300px;
  height: 100%;
}

h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

nav {
  font-size: 25px;
  text-align: right;

}

nav a {
  line-height: 70px;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  margin-top: 30px;
  border: 5px black solid;
  border-radius: 10px;

}

.gallery {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-left: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  