:root {
  --header: #517F0A;
  --pagebg: #fafafa;
  --cardbg: #fff;
  --grayborder: #dedede;
}

body {
  background-color: var(--pagebg);
}

/* ----- HEADER AND NAVIGATION ----- */

header {
  color: white;
  background-color: var(--header);
  text-align: center;
  height: 70px;
}

#headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


#siteHomeLink {
  height: 100%;
  min-width: 300px;
}

nav {
  font-size: 2rem;
  text-align: right;
}

nav a {
  line-height: 70px;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.withGutter {
  padding: 0 1rem;
}

/* ----- FOOTER ----- */

.footer {
  padding: 2rem;
}

footer ul {
  list-style: none;
}

footer a {
  color: #3b5d07;
  text-decoration: none;
}

/* ----- LANDING PAGE ----- */

.hero {
  background-image: url('../assets/farm_bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 4rem 0 10rem 0;
}

.sectionImage {
  max-width: 70%;
  margin: -0 auto -7px auto;
}

.orange {
  background-color: #ffe8c2;
}

.green {
  background-color: #f6fdec;
}

.blue {
  background-color: #ecf3fd;
}

.landing {
  padding: 2rem;
}

/* ----- HEADINGS ----- */

h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

.container > h1 {
  margin-top:2rem;
}


/* ----- DASHBOARD PAGE ----- */

aside {
  text-align: center;
  padding: 0;
  margin-top: 3rem;
  background-color: #E3F6C6;
  height:inherit;
  border-radius: 8px;
}

aside ul {
  list-style: none;
  text-align: left;
  margin-top: 2rem;
}

aside ul li a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--header);
}

aside ul li a:hover {
  background-color: var(--header);
  color: #fff;
}

#addFarmBtn {
  margin: 2rem auto 0 auto;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
}

#farmInfo {
  margin-top: 3rem;
  background-color: var(--cardbg);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--grayborder);
}

#chartContainer {
  margin-top: 3rem;
  height: 350px;
  background-color: var(--cardbg);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--grayborder);
}

#animalHeader {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#animalContainer {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

#addAnimalBtn {
  margin-top:1rem;
}

.animalLink {
  text-decoration: none;
  margin-top:2rem;
  margin-left:0;
}

.animal {
  padding:2rem;
  display:flex;
  flex-direction: column;
  gap:1rem;
  background-color: var(--cardbg);
  border: 1px solid var(--grayborder);
  border-radius: 1rem;
}

.animal:hover {
  box-shadow: 6px 6px 0 0 var(--header);
}

.animal ul {
  list-style: none;
}

.animal img {
  width: 100%;
}


/* ----- ANIMAL PAGE ----- */

#animalPic {
  margin-top: 3rem;
  width: 100%;
  border-radius: 8px;
}

#animalInfo {
  margin-top: 3rem;
  padding:2rem;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--cardbg);
  border: 1px solid var(--grayborder);
  border-radius: 1rem;
}

#animalInfo ul {
  list-style: none;
}

#animalActions button {
  display:block;
  width:100%
}


/* ----- DIRECTORY PAGE ----- */

#directory {
  display:flex;
  flex-wrap:wrap;
  gap:2rem;
  justify-content: space-between;
}

.farmDirListing {
  background-color: var(--cardbg);
  padding: 1rem 2rem 0 2rem;
  border-radius: 1rem;
  border: 1px solid var(--grayborder);
  width:calc(50% - 6rem);
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-left: 15px;
}


/* ----- MODALS ----- */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: var(--cardbg);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modalBtn {
    display:block;
  }

  .passResponse {
    color: red;
    font-weight: bold;
  }
  
  .hide {
    display:none;
  }

  .inputField:invalid {
    border: none;
    outline: 2px solid rgba(255, 0, 0, 0.75);
    border-radius: 5px;
  }


/* ----- STYLE TWEAKS FOR NUMBER INPUTS ----- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* ----- MOBILE STYLES ----- */

  @media (max-width: 550px) {
    #siteHomeLink {
      min-width:auto;
      width: 150px;
      margin-top:1.5rem;
      }
  
      nav {
        font-size: 1.5rem;
      }
      aside {
        min-height:auto;
      }

      #animalActions {
        width: 100%;
      }

      .farmDirListing {
        width:100%;
      }
  }